UI/Modules/Horsesoft.Horsify.ServicesModule/Connected Services/HorsifyService/HorsifySongService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="HorsifySongService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8080/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8080/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8080/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Horsesoft.Music.Data.Model" />
      <xsd:import schemaLocation="http://localhost:8080/?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Horsesoft.Music.Data.Model.Horsify" />
      <xsd:import schemaLocation="http://localhost:8080/?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IHorsifySongService_Add_InputMessage">
    <wsdl:part name="parameters" element="tns:Add" />
  </wsdl:message>
  <wsdl:message name="IHorsifySongService_Add_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddResponse" />
  </wsdl:message>
  <wsdl:message name="IHorsifySongService_GetById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetById" />
  </wsdl:message>
  <wsdl:message name="IHorsifySongService_GetById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IHorsifySongService_SearchLike_InputMessage">
    <wsdl:part name="parameters" element="tns:SearchLike" />
  </wsdl:message>
  <wsdl:message name="IHorsifySongService_SearchLike_OutputMessage">
    <wsdl:part name="parameters" element="tns:SearchLikeResponse" />
  </wsdl:message>
  <wsdl:message name="IHorsifySongService_SearchLikeFilters_InputMessage">
    <wsdl:part name="parameters" element="tns:SearchLikeFilters" />
  </wsdl:message>
  <wsdl:message name="IHorsifySongService_SearchLikeFilters_OutputMessage">
    <wsdl:part name="parameters" element="tns:SearchLikeFiltersResponse" />
  </wsdl:message>
  <wsdl:message name="IHorsifySongService_GetMostPlayed_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMostPlayed" />
  </wsdl:message>
  <wsdl:message name="IHorsifySongService_GetMostPlayed_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMostPlayedResponse" />
  </wsdl:message>
  <wsdl:message name="IHorsifySongService_GetRecentlyAdded_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRecentlyAdded" />
  </wsdl:message>
  <wsdl:message name="IHorsifySongService_GetRecentlyAdded_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRecentlyAddedResponse" />
  </wsdl:message>
  <wsdl:message name="IHorsifySongService_GetRecentlyPlayed_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRecentlyPlayed" />
  </wsdl:message>
  <wsdl:message name="IHorsifySongService_GetRecentlyPlayed_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRecentlyPlayedResponse" />
  </wsdl:message>
  <wsdl:message name="IHorsifySongService_GetAllFromTableAsStrings_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllFromTableAsStrings" />
  </wsdl:message>
  <wsdl:message name="IHorsifySongService_GetAllFromTableAsStrings_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllFromTableAsStringsResponse" />
  </wsdl:message>
  <wsdl:message name="IHorsifySongService_UpdatePlayedSong_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdatePlayedSong" />
  </wsdl:message>
  <wsdl:message name="IHorsifySongService_UpdatePlayedSong_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdatePlayedSongResponse" />
  </wsdl:message>
  <wsdl:message name="IHorsifySongService_GetFilters_InputMessage">
    <wsdl:part name="parameters" element="tns:GetFilters" />
  </wsdl:message>
  <wsdl:message name="IHorsifySongService_GetFilters_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetFiltersResponse" />
  </wsdl:message>
  <wsdl:message name="IHorsifySongService_InsertFilter_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertFilter" />
  </wsdl:message>
  <wsdl:message name="IHorsifySongService_InsertFilter_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertFilterResponse" />
  </wsdl:message>
  <wsdl:message name="IHorsifySongService_RemoveFilter_InputMessage">
    <wsdl:part name="parameters" element="tns:RemoveFilter" />
  </wsdl:message>
  <wsdl:message name="IHorsifySongService_RemoveFilter_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemoveFilterResponse" />
  </wsdl:message>
  <wsdl:message name="IHorsifySongService_UpdateFilter_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateFilter" />
  </wsdl:message>
  <wsdl:message name="IHorsifySongService_UpdateFilter_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateFilterResponse" />
  </wsdl:message>
  <wsdl:message name="IHorsifySongService_GetAllPlaylists_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllPlaylists" />
  </wsdl:message>
  <wsdl:message name="IHorsifySongService_GetAllPlaylists_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllPlaylistsResponse" />
  </wsdl:message>
  <wsdl:message name="IHorsifySongService_GetSongsFromPlaylist_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSongsFromPlaylist" />
  </wsdl:message>
  <wsdl:message name="IHorsifySongService_GetSongsFromPlaylist_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSongsFromPlaylistResponse" />
  </wsdl:message>
  <wsdl:message name="IHorsifySongService_InsertOrUpdatePlaylists_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertOrUpdatePlaylists" />
  </wsdl:message>
  <wsdl:message name="IHorsifySongService_InsertOrUpdatePlaylists_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertOrUpdatePlaylistsResponse" />
  </wsdl:message>
  <wsdl:message name="IHorsifySongService_GetSongById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSongById" />
  </wsdl:message>
  <wsdl:message name="IHorsifySongService_GetSongById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSongByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IHorsifySongService_GetTotals_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTotals" />
  </wsdl:message>
  <wsdl:message name="IHorsifySongService_GetTotals_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTotalsResponse" />
  </wsdl:message>
  <wsdl:portType name="IHorsifySongService">
    <wsdl:operation name="Add">
      <wsdl:input wsaw:Action="http://tempuri.org/IHorsifyFileService/Add" message="tns:IHorsifySongService_Add_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHorsifyFileService/AddResponse" message="tns:IHorsifySongService_Add_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetById">
      <wsdl:input wsaw:Action="http://tempuri.org/IHorsifyFileService/GetById" message="tns:IHorsifySongService_GetById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHorsifyFileService/GetByIdResponse" message="tns:IHorsifySongService_GetById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SearchLike">
      <wsdl:input wsaw:Action="http://tempuri.org/IHorsifySearchService/SearchLike" message="tns:IHorsifySongService_SearchLike_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHorsifySearchService/SearchLikeResponse" message="tns:IHorsifySongService_SearchLike_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SearchLikeFilters">
      <wsdl:input wsaw:Action="http://tempuri.org/IHorsifySearchService/SearchLikeFilters" message="tns:IHorsifySongService_SearchLikeFilters_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHorsifySearchService/SearchLikeFiltersResponse" message="tns:IHorsifySongService_SearchLikeFilters_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMostPlayed">
      <wsdl:input wsaw:Action="http://tempuri.org/IHorsifySearchService/GetMostPlayed" message="tns:IHorsifySongService_GetMostPlayed_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHorsifySearchService/GetMostPlayedResponse" message="tns:IHorsifySongService_GetMostPlayed_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetRecentlyAdded">
      <wsdl:input wsaw:Action="http://tempuri.org/IHorsifySearchService/GetRecentlyAdded" message="tns:IHorsifySongService_GetRecentlyAdded_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHorsifySearchService/GetRecentlyAddedResponse" message="tns:IHorsifySongService_GetRecentlyAdded_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetRecentlyPlayed">
      <wsdl:input wsaw:Action="http://tempuri.org/IHorsifySearchService/GetRecentlyPlayed" message="tns:IHorsifySongService_GetRecentlyPlayed_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHorsifySearchService/GetRecentlyPlayedResponse" message="tns:IHorsifySongService_GetRecentlyPlayed_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllFromTableAsStrings">
      <wsdl:input wsaw:Action="http://tempuri.org/IHorsifySearchService/GetAllFromTableAsStrings" message="tns:IHorsifySongService_GetAllFromTableAsStrings_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHorsifySearchService/GetAllFromTableAsStringsResponse" message="tns:IHorsifySongService_GetAllFromTableAsStrings_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdatePlayedSong">
      <wsdl:input wsaw:Action="http://tempuri.org/IHorsifyTagService/UpdatePlayedSong" message="tns:IHorsifySongService_UpdatePlayedSong_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHorsifyTagService/UpdatePlayedSongResponse" message="tns:IHorsifySongService_UpdatePlayedSong_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetFilters">
      <wsdl:input wsaw:Action="http://tempuri.org/IHorsifyFilterService/GetFilters" message="tns:IHorsifySongService_GetFilters_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHorsifyFilterService/GetFiltersResponse" message="tns:IHorsifySongService_GetFilters_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertFilter">
      <wsdl:input wsaw:Action="http://tempuri.org/IHorsifyFilterService/InsertFilter" message="tns:IHorsifySongService_InsertFilter_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHorsifyFilterService/InsertFilterResponse" message="tns:IHorsifySongService_InsertFilter_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RemoveFilter">
      <wsdl:input wsaw:Action="http://tempuri.org/IHorsifyFilterService/RemoveFilter" message="tns:IHorsifySongService_RemoveFilter_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHorsifyFilterService/RemoveFilterResponse" message="tns:IHorsifySongService_RemoveFilter_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateFilter">
      <wsdl:input wsaw:Action="http://tempuri.org/IHorsifyFilterService/UpdateFilter" message="tns:IHorsifySongService_UpdateFilter_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHorsifyFilterService/UpdateFilterResponse" message="tns:IHorsifySongService_UpdateFilter_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllPlaylists">
      <wsdl:input wsaw:Action="http://tempuri.org/IHorsifyPlaylistService/GetAllPlaylists" message="tns:IHorsifySongService_GetAllPlaylists_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHorsifyPlaylistService/GetAllPlaylistsResponse" message="tns:IHorsifySongService_GetAllPlaylists_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSongsFromPlaylist">
      <wsdl:input wsaw:Action="http://tempuri.org/IHorsifyPlaylistService/GetSongsFromPlaylist" message="tns:IHorsifySongService_GetSongsFromPlaylist_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHorsifyPlaylistService/GetSongsFromPlaylistResponse" message="tns:IHorsifySongService_GetSongsFromPlaylist_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertOrUpdatePlaylists">
      <wsdl:input wsaw:Action="http://tempuri.org/IHorsifyPlaylistService/InsertOrUpdatePlaylists" message="tns:IHorsifySongService_InsertOrUpdatePlaylists_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHorsifyPlaylistService/InsertOrUpdatePlaylistsResponse" message="tns:IHorsifySongService_InsertOrUpdatePlaylists_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSongById">
      <wsdl:input wsaw:Action="http://tempuri.org/IHorsifySongService/GetSongById" message="tns:IHorsifySongService_GetSongById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHorsifySongService/GetSongByIdResponse" message="tns:IHorsifySongService_GetSongById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTotals">
      <wsdl:input wsaw:Action="http://tempuri.org/IHorsifySongService/GetTotals" message="tns:IHorsifySongService_GetTotals_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHorsifySongService/GetTotalsResponse" message="tns:IHorsifySongService_GetTotals_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IHorsifySongService" type="tns:IHorsifySongService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Add">
      <soap:operation soapAction="http://tempuri.org/IHorsifyFileService/Add" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetById">
      <soap:operation soapAction="http://tempuri.org/IHorsifyFileService/GetById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchLike">
      <soap:operation soapAction="http://tempuri.org/IHorsifySearchService/SearchLike" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchLikeFilters">
      <soap:operation soapAction="http://tempuri.org/IHorsifySearchService/SearchLikeFilters" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMostPlayed">
      <soap:operation soapAction="http://tempuri.org/IHorsifySearchService/GetMostPlayed" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRecentlyAdded">
      <soap:operation soapAction="http://tempuri.org/IHorsifySearchService/GetRecentlyAdded" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRecentlyPlayed">
      <soap:operation soapAction="http://tempuri.org/IHorsifySearchService/GetRecentlyPlayed" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllFromTableAsStrings">
      <soap:operation soapAction="http://tempuri.org/IHorsifySearchService/GetAllFromTableAsStrings" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdatePlayedSong">
      <soap:operation soapAction="http://tempuri.org/IHorsifyTagService/UpdatePlayedSong" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFilters">
      <soap:operation soapAction="http://tempuri.org/IHorsifyFilterService/GetFilters" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertFilter">
      <soap:operation soapAction="http://tempuri.org/IHorsifyFilterService/InsertFilter" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveFilter">
      <soap:operation soapAction="http://tempuri.org/IHorsifyFilterService/RemoveFilter" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateFilter">
      <soap:operation soapAction="http://tempuri.org/IHorsifyFilterService/UpdateFilter" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllPlaylists">
      <soap:operation soapAction="http://tempuri.org/IHorsifyPlaylistService/GetAllPlaylists" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSongsFromPlaylist">
      <soap:operation soapAction="http://tempuri.org/IHorsifyPlaylistService/GetSongsFromPlaylist" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertOrUpdatePlaylists">
      <soap:operation soapAction="http://tempuri.org/IHorsifyPlaylistService/InsertOrUpdatePlaylists" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSongById">
      <soap:operation soapAction="http://tempuri.org/IHorsifySongService/GetSongById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTotals">
      <soap:operation soapAction="http://tempuri.org/IHorsifySongService/GetTotals" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="HorsifySongService">
    <wsdl:port name="BasicHttpBinding_IHorsifySongService" binding="tns:BasicHttpBinding_IHorsifySongService">
      <soap:address location="http://localhost:8080/HorsifySongService" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>