UI/Modules/Horsesoft.Horsify.ServicesModule/Connected Services/HorsifyService/item4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8080/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Horsesoft.Music.Data.Model" />
  <xs:import schemaLocation="http://localhost:8080/?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Horsesoft.Music.Data.Model.Horsify" />
  <xs:import schemaLocation="http://localhost:8080/?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="Add">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Horsesoft.Music.Data.Model" minOccurs="0" name="file" nillable="true" type="q1:File" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="value" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Horsesoft.Music.Data.Model" minOccurs="0" name="GetByIdResult" nillable="true" type="q2:File" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchLike">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Horsesoft.Music.Data.Model.Horsify" minOccurs="0" name="searchTypes" type="q3:SearchType" />
        <xs:element minOccurs="0" name="wildCardSearch" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="randomAmount" type="xs:short" />
        <xs:element minOccurs="0" name="maxAmount" type="xs:short" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchLikeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Horsesoft.Music.Data.Model" minOccurs="0" name="SearchLikeResult" nillable="true" type="q4:ArrayOfAllJoinedTable" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchLikeFilters">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Horsesoft.Music.Data.Model.Horsify" minOccurs="0" name="searchFilter" nillable="true" type="q5:SearchFilter" />
        <xs:element minOccurs="0" name="randomAmount" type="xs:short" />
        <xs:element minOccurs="0" name="maxAmount" type="xs:short" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchLikeFiltersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Horsesoft.Music.Data.Model" minOccurs="0" name="SearchLikeFiltersResult" nillable="true" type="q6:ArrayOfAllJoinedTable" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMostPlayed">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMostPlayedResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Horsesoft.Music.Data.Model" minOccurs="0" name="GetMostPlayedResult" nillable="true" type="q7:ArrayOfAllJoinedTable" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRecentlyAdded">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRecentlyAddedResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Horsesoft.Music.Data.Model" minOccurs="0" name="GetRecentlyAddedResult" nillable="true" type="q8:ArrayOfAllJoinedTable" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRecentlyPlayed">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRecentlyPlayedResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Horsesoft.Music.Data.Model" minOccurs="0" name="GetRecentlyPlayedResult" nillable="true" type="q9:ArrayOfAllJoinedTable" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllFromTableAsStrings">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Horsesoft.Music.Data.Model.Horsify" minOccurs="0" name="searchType" type="q10:SearchType" />
        <xs:element minOccurs="0" name="search" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="maxAmount" type="xs:short" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllFromTableAsStringsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetAllFromTableAsStringsResult" nillable="true" type="q11:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdatePlayedSong">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="songId" type="xs:long" />
        <xs:element minOccurs="0" name="rating" nillable="true" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdatePlayedSongResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdatePlayedSongResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFilters">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFiltersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/Horsesoft.Music.Data.Model" minOccurs="0" name="GetFiltersResult" nillable="true" type="q12:ArrayOfFilter" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertFilter">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/Horsesoft.Music.Data.Model" minOccurs="0" name="filter" nillable="true" type="q13:Filter" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertFilterResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveFilter">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/Horsesoft.Music.Data.Model" minOccurs="0" name="filter" nillable="true" type="q14:Filter" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveFilterResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateFilter">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/Horsesoft.Music.Data.Model" minOccurs="0" name="filter" nillable="true" type="q15:Filter" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateFilterResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllPlaylists">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllPlaylistsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/Horsesoft.Music.Data.Model" minOccurs="0" name="GetAllPlaylistsResult" nillable="true" type="q16:ArrayOfPlaylist" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSongsFromPlaylist">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/Horsesoft.Music.Data.Model" minOccurs="0" name="playlist" nillable="true" type="q17:Playlist" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSongsFromPlaylistResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/Horsesoft.Music.Data.Model" minOccurs="0" name="GetSongsFromPlaylistResult" nillable="true" type="q18:ArrayOfAllJoinedTable" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertOrUpdatePlaylists">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/Horsesoft.Music.Data.Model" minOccurs="0" name="playlists" nillable="true" type="q19:ArrayOfPlaylist" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertOrUpdatePlaylistsResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSongById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="value" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSongByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/Horsesoft.Music.Data.Model" minOccurs="0" name="GetSongByIdResult" nillable="true" type="q20:AllJoinedTable" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTotals">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="type" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTotalsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetTotalsResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>