UI/Modules/Horsesoft.Horsify.ServicesModule/Connected Services/HorsifyService/item3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Horsesoft.Music.Data.Model.Horsify" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Horsesoft.Music.Data.Model.Horsify" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8080/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import schemaLocation="http://localhost:8080/?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:simpleType name="SearchType">
    <xs:list>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="All">
            <xs:annotation>
              <xs:appinfo>
                <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">0</EnumerationValue>
              </xs:appinfo>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="Album">
            <xs:annotation>
              <xs:appinfo>
                <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">1</EnumerationValue>
              </xs:appinfo>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="Artist">
            <xs:annotation>
              <xs:appinfo>
                <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">2</EnumerationValue>
              </xs:appinfo>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="Bpm">
            <xs:annotation>
              <xs:appinfo>
                <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">4</EnumerationValue>
              </xs:appinfo>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="FileLocation">
            <xs:annotation>
              <xs:appinfo>
                <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">8</EnumerationValue>
              </xs:appinfo>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="Genre">
            <xs:annotation>
              <xs:appinfo>
                <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">16</EnumerationValue>
              </xs:appinfo>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="Label">
            <xs:annotation>
              <xs:appinfo>
                <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">32</EnumerationValue>
              </xs:appinfo>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="Title">
            <xs:annotation>
              <xs:appinfo>
                <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">64</EnumerationValue>
              </xs:appinfo>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="Year">
            <xs:annotation>
              <xs:appinfo>
                <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">128</EnumerationValue>
              </xs:appinfo>
            </xs:annotation>
          </xs:enumeration>
        </xs:restriction>
      </xs:simpleType>
    </xs:list>
  </xs:simpleType>
  <xs:element name="SearchType" nillable="true" type="tns:SearchType" />
  <xs:complexType name="SearchFilter">
    <xs:sequence>
      <xs:element minOccurs="0" name="BpmRange" nillable="true" type="tns:RangeFilterOptionOfunsignedByte" />
      <xs:element minOccurs="0" name="Filters" nillable="true" type="tns:ArrayOfHorsifyFilter" />
      <xs:element minOccurs="0" name="MusicKeys" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RatingRange" nillable="true" type="tns:RangeFilterOptionOfunsignedByte" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SearchFilter" nillable="true" type="tns:SearchFilter" />
  <xs:complexType name="RangeFilterOptionOfunsignedByte">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="RangeFilterOptionOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/Horsesoft.Music.Data.Model.Horsify" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="unsignedByte" Namespace="http://www.w3.org/2001/XMLSchema" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:FilterOption">
        <xs:sequence>
          <xs:element minOccurs="0" name="Hi" type="xs:unsignedByte" />
          <xs:element minOccurs="0" name="Low" type="xs:unsignedByte" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="RangeFilterOptionOfunsignedByte" nillable="true" type="tns:RangeFilterOptionOfunsignedByte" />
  <xs:complexType name="FilterOption">
    <xs:sequence>
      <xs:element minOccurs="0" name="IsEnabled" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FilterOption" nillable="true" type="tns:FilterOption" />
  <xs:complexType name="ArrayOfHorsifyFilter">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="HorsifyFilter" nillable="true" type="tns:HorsifyFilter" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfHorsifyFilter" nillable="true" type="tns:ArrayOfHorsifyFilter" />
  <xs:complexType name="HorsifyFilter">
    <xs:sequence>
      <xs:element minOccurs="0" name="FileName" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Filters" nillable="true" type="q1:ArrayOfstring" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="SearchAndOrOption" type="tns:SearchAndOrOption" />
      <xs:element minOccurs="0" name="SearchType" type="tns:SearchType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="HorsifyFilter" nillable="true" type="tns:HorsifyFilter" />
  <xs:simpleType name="SearchAndOrOption">
    <xs:restriction base="xs:string">
      <xs:enumeration value="None" />
      <xs:enumeration value="Or" />
      <xs:enumeration value="Not" />
      <xs:enumeration value="And" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="SearchAndOrOption" nillable="true" type="tns:SearchAndOrOption" />
</xs:schema>