Services/Horsesoft.Music.Horsify.SongServiceClient/Connected Services/HorsifyService/HorsifySongService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="HorsifySongService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8080/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8080/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8080/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Horsesoft.Music.Data.Model" />
      <xsd:import schemaLocation="http://localhost:8080/?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Horsesoft.Music.Data.Model.Horsify" />
      <xsd:import schemaLocation="http://localhost:8080/?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IHorsifySongService_GetById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetById" />
  </wsdl:message>
  <wsdl:message name="IHorsifySongService_GetById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IHorsifySongService_SearchLike_InputMessage">
    <wsdl:part name="parameters" element="tns:SearchLike" />
  </wsdl:message>
  <wsdl:message name="IHorsifySongService_SearchLike_OutputMessage">
    <wsdl:part name="parameters" element="tns:SearchLikeResponse" />
  </wsdl:message>
  <wsdl:message name="IHorsifySongService_SearchLikeFilters_InputMessage">
    <wsdl:part name="parameters" element="tns:SearchLikeFilters" />
  </wsdl:message>
  <wsdl:message name="IHorsifySongService_SearchLikeFilters_OutputMessage">
    <wsdl:part name="parameters" element="tns:SearchLikeFiltersResponse" />
  </wsdl:message>
  <wsdl:message name="IHorsifySongService_GetData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetData" />
  </wsdl:message>
  <wsdl:message name="IHorsifySongService_GetData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataResponse" />
  </wsdl:message>
  <wsdl:message name="IHorsifySongService_GetSongById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSongById" />
  </wsdl:message>
  <wsdl:message name="IHorsifySongService_GetSongById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSongByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IHorsifySongService_GetTotals_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTotals" />
  </wsdl:message>
  <wsdl:message name="IHorsifySongService_GetTotals_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTotalsResponse" />
  </wsdl:message>
  <wsdl:portType name="IHorsifySongService">
    <wsdl:operation name="GetById">
      <wsdl:input wsaw:Action="http://tempuri.org/IHorsifyFileService/GetById" message="tns:IHorsifySongService_GetById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHorsifyFileService/GetByIdResponse" message="tns:IHorsifySongService_GetById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SearchLike">
      <wsdl:input wsaw:Action="http://tempuri.org/IHorsifySearchService/SearchLike" message="tns:IHorsifySongService_SearchLike_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHorsifySearchService/SearchLikeResponse" message="tns:IHorsifySongService_SearchLike_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SearchLikeFilters">
      <wsdl:input wsaw:Action="http://tempuri.org/IHorsifySearchService/SearchLikeFilters" message="tns:IHorsifySongService_SearchLikeFilters_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHorsifySearchService/SearchLikeFiltersResponse" message="tns:IHorsifySongService_SearchLikeFilters_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetData">
      <wsdl:input wsaw:Action="http://tempuri.org/IHorsifySongService/GetData" message="tns:IHorsifySongService_GetData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHorsifySongService/GetDataResponse" message="tns:IHorsifySongService_GetData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSongById">
      <wsdl:input wsaw:Action="http://tempuri.org/IHorsifySongService/GetSongById" message="tns:IHorsifySongService_GetSongById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHorsifySongService/GetSongByIdResponse" message="tns:IHorsifySongService_GetSongById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTotals">
      <wsdl:input wsaw:Action="http://tempuri.org/IHorsifySongService/GetTotals" message="tns:IHorsifySongService_GetTotals_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHorsifySongService/GetTotalsResponse" message="tns:IHorsifySongService_GetTotals_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IHorsifySongService" type="tns:IHorsifySongService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetById">
      <soap:operation soapAction="http://tempuri.org/IHorsifyFileService/GetById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchLike">
      <soap:operation soapAction="http://tempuri.org/IHorsifySearchService/SearchLike" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchLikeFilters">
      <soap:operation soapAction="http://tempuri.org/IHorsifySearchService/SearchLikeFilters" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetData">
      <soap:operation soapAction="http://tempuri.org/IHorsifySongService/GetData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSongById">
      <soap:operation soapAction="http://tempuri.org/IHorsifySongService/GetSongById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTotals">
      <soap:operation soapAction="http://tempuri.org/IHorsifySongService/GetTotals" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="HorsifySongService">
    <wsdl:port name="BasicHttpBinding_IHorsifySongService" binding="tns:BasicHttpBinding_IHorsifySongService">
      <soap:address location="http://localhost:8080/HorsifySongService" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>