Services/Horsesoft.Music.Horsify.SongServiceClient/Connected Services/HorsifyService/item4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8080/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Horsesoft.Music.Data.Model" />
  <xs:import schemaLocation="http://localhost:8080/?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Horsesoft.Music.Data.Model.Horsify" />
  <xs:element name="GetById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="value" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Horsesoft.Music.Data.Model" minOccurs="0" name="GetByIdResult" nillable="true" type="q1:File" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchLike">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Horsesoft.Music.Data.Model.Horsify" minOccurs="0" name="searchTypes" type="q2:SearchType" />
        <xs:element minOccurs="0" name="wildCardSearch" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="randomAmount" type="xs:short" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchLikeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Horsesoft.Music.Data.Model" minOccurs="0" name="SearchLikeResult" nillable="true" type="q3:ArrayOfAllJoinedTable" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchLikeFilters">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Horsesoft.Music.Data.Model.Horsify" minOccurs="0" name="searchFilter" nillable="true" type="q4:SearchFilter" />
        <xs:element minOccurs="0" name="randomAmount" type="xs:short" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchLikeFiltersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Horsesoft.Music.Data.Model" minOccurs="0" name="SearchLikeFiltersResult" nillable="true" type="q5:ArrayOfAllJoinedTable" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="value" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Horsesoft.Music.Data.Model" minOccurs="0" name="GetDataResult" nillable="true" type="q6:File" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSongById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="value" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSongByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Horsesoft.Music.Data.Model" minOccurs="0" name="GetSongByIdResult" nillable="true" type="q7:AllJoinedTable" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTotals">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="type" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTotalsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetTotalsResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>