Services/Horsesoft.Music.Horsify.SongServiceClient/Connected Services/HorsifyService/item.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Horsesoft.Music.Data.Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Horsesoft.Music.Data.Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="File">
    <xs:sequence>
      <xs:element minOccurs="0" name="DriveVolume" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FileName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Folder" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Hash" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:long" />
      <xs:element minOccurs="0" name="Song" nillable="true" type="tns:ArrayOfSong" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="File" nillable="true" type="tns:File" />
  <xs:complexType name="ArrayOfSong">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Song" nillable="true" type="tns:Song" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSong" nillable="true" type="tns:ArrayOfSong" />
  <xs:complexType name="Song">
    <xs:sequence>
      <xs:element minOccurs="0" name="AddedDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Album" nillable="true" type="tns:Album" />
      <xs:element minOccurs="0" name="AlbumId" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="Artist" nillable="true" type="tns:Artist" />
      <xs:element minOccurs="0" name="ArtistId" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="BitRate" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="Bpm" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="Comment" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Country" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Discog" nillable="true" type="tns:Discog" />
      <xs:element minOccurs="0" name="DiscogId" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="File" nillable="true" type="tns:File" />
      <xs:element minOccurs="0" name="FileId" type="xs:long" />
      <xs:element minOccurs="0" name="Genre" nillable="true" type="tns:Genre" />
      <xs:element minOccurs="0" name="GenreId" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="Id" type="xs:long" />
      <xs:element minOccurs="0" name="ImageLocation" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsDamaged" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Label" nillable="true" type="tns:Label" />
      <xs:element minOccurs="0" name="LabelId" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="LastPlayed" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MusicalKey" nillable="true" type="tns:MusicalKey" />
      <xs:element minOccurs="0" name="MusicalKeyId" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="Nsfw" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Rating" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="Time" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TimesPlayed" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Track" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="Year" nillable="true" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Song" nillable="true" type="tns:Song" />
  <xs:complexType name="Album">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:long" />
      <xs:element minOccurs="0" name="Song" nillable="true" type="tns:ArrayOfSong" />
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Album" nillable="true" type="tns:Album" />
  <xs:complexType name="Artist">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:long" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Song" nillable="true" type="tns:ArrayOfSong" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Artist" nillable="true" type="tns:Artist" />
  <xs:complexType name="Discog">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:long" />
      <xs:element minOccurs="0" name="ReleaseId" type="xs:long" />
      <xs:element minOccurs="0" name="Song" nillable="true" type="tns:ArrayOfSong" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Discog" nillable="true" type="tns:Discog" />
  <xs:complexType name="Genre">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:long" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Song" nillable="true" type="tns:ArrayOfSong" />
      <xs:element minOccurs="0" name="Style" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Genre" nillable="true" type="tns:Genre" />
  <xs:complexType name="Label">
    <xs:sequence>
      <xs:element minOccurs="0" name="DiscogsId" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="Id" type="xs:long" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Song" nillable="true" type="tns:ArrayOfSong" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Label" nillable="true" type="tns:Label" />
  <xs:complexType name="MusicalKey">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:long" />
      <xs:element minOccurs="0" name="MusicKey" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Song" nillable="true" type="tns:ArrayOfSong" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MusicalKey" nillable="true" type="tns:MusicalKey" />
  <xs:complexType name="ArrayOfAllJoinedTable">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AllJoinedTable" nillable="true" type="tns:AllJoinedTable" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAllJoinedTable" nillable="true" type="tns:ArrayOfAllJoinedTable" />
  <xs:complexType name="AllJoinedTable">
    <xs:sequence>
      <xs:element minOccurs="0" name="AddedDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Album" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Artist" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BitRate" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="Bpm" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="Comment" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Country" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DiscogId" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="FileLocation" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Genre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:long" />
      <xs:element minOccurs="0" name="ImageLocation" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsDamaged" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Label" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LastPlayed" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MusicKey" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NSFW" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="Rating" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="ReleaseId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Time" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TimesPlayed" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Track" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="Year" nillable="true" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AllJoinedTable" nillable="true" type="tns:AllJoinedTable" />
</xs:schema>